<main class="container landing_boi index">
	
	<div class="row">

		<div class="<%= css[:col_class] %>">
			
			<%= render 'hero_a' %>

			<%= render 'features' %>

			<%= render 'screenshot' %>

			<%= render 'social_proof' %>

			<div>[FAQs]</div>

			<div>[Pricing / Get Started]</div>

		</div>

	</div>

</main>