<!DOCTYPE html>
<html>
<head>
	<title>Landing boi</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    "landing_boi/application", media: "all" %>
	<%= stylesheet_link_tag "bootstrap_customizer", media: "all" %>

	<%= javascript_include_tag 'landing_boi/application' %>
</head>
<body class="landing-boi">

	<%= render 'layouts/landing_boi/header' %>

	<%= yield %>

	<%= render 'layouts/landing_boi/footer' %>

</body>
</html>
